<div class="details">
    <div>
    <h2>About</h2>
    <i class="icon ion-md-create mobile-edit desktop-hide"></i>
    </div>
    <div>
        <p><span>Jane Doe</span> <i class="icon ion-md-create hide" id="name"></i></p>
        <p><i class="icon ion-md-globe"></i> <span>www.seller.com</span> <i class="icon ion-md-create hide" id="website"></i></p><div id="myPopup"></div>
        <p><i class="icon ion-md-call"></i> <span>(999) 999-99999</span> <i class="icon ion-md-create hide" id="phone"></i></p>
        <p><i class="icon ion-md-home"></i> <span>Newport Beach, CA</span> <i class="icon ion-md-create hide" id="address"></i></p>
    </div>
</div>